<%= render 'videos/main-visual' %>
<%= render 'layouts/nav' %>

<div class="container">
  <div class="row">
    <div class="col-md-3 mt-4">
      <h2>動画を投稿</h2>
        <%= render 'form', video: @video %>
    </div>
    <div class="col-md-9 mt-4">
      <h2>動画一覧</h2>
      <table class="table table-inverse">
        <thead>
          <tr>
            <th class="col-md-3">タイトル</th>
            <th class="col-md-2">コメント</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @videos.each do |video| %>
            <tr>
              <td>
                <h4><%= link_to video.title, video_path(video), class: "video_#{video.id}" %></h4>
              </td>
              <td style="word-break: break-all">
                <h6><%= video.body %></h6>
              </td>
              <td>
                <iframe width="350" height="250" src="https://www.youtube.com/embed/<%= video.youtube %>" frameborder="0" allowfullscreen></iframe>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>